<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receptionist</title>
    <link rel="stylesheet" href="../CSS/all.min.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/main.css" />
    <link rel="stylesheet" href="../CSS/patientAdded.css" />
    <link rel="stylesheet" href="../CSS/receptionist.css" />
    <link rel="stylesheet" href="../CSS/Normalize.css" />
    <link rel="stylesheet" href="../CSS/bootstrap-grid.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo home-btn">
          <p class="home-btn">New Life</p>
          <h2 class="home-btn">ICU</h2>
        </div>
        <div class="links">
          <ul class="links">
            <li><a href="http://18.212.57.146:8000//aboutus">Department</a></li>
            <li><a href="http://18.212.57.146:8000//aboutus#ayhaga">About US</a></li>
            <li><a href="#" class="log-out">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="patient-add-card">
      <dic class="container">
        <div class="sp-header">Patient Added</div>
        <div class="pName pdata">
          <h2>Name: <span>{{patient.name}}</span></h2>
          <div class="border"></div>
          <h2>SSN: <span>{{patient.SSN}}</span> </h2>
          <div class="border"></div>
          <h2>Address: <span>{{patient.address}}</span> </h2>
          <div class="border"></div>
          <h2>Phone Number: <span>{{patient.phone}}</span> </h2>
          <div class="border"></div>
          <h2>Department: <span>{{patient.department}}</span> </h2>
          <div class="border"></div>
          <h2>Room No. <span>{{patient.room}}</span> </h2>
        </div>
        <form action="/users/profile" method="get"><button
            class="button"
          >Back</button></form>
      </dic>
    </div>
    <div class="no-room">
      <h2 class="error-message sp-header">No Room Avaliable</h2>
    </div>
  </body>
  <script src="../JS/all.min.js"></script>
  <script src="../JS/main.js"></script>
  <script src="../JS/bootstrap.bundle.min.js"></script>
</html>